<div class="dashboard-container">

    <!--sidebar-->
    <app-sidebar></app-sidebar>
    <!--sidebar-->

    <div class="content">
        
        <!--topbar-->
        <app-topbarr></app-topbarr>
        <!--topbar-->

        <div class="greeting">
            <span class="greeting__section-name">Dashboard</span><span class="greeting__hello">Hello Nabil, Welcome back.</span>
        </div>

        <!--user-dash-->
        <app-user-dash *ngIf="true"></app-user-dash>
        <!--user-dash-->

        

    </div>
</div>
