<div class="dashboard-container">
    <div class="sidebar">
        <img src="../../../../assets/img/logo-dark.png" alt="Logo" class="sidebar__logo">

        <div class="sidebar__item-group">
            <div class="sidebar__item active">
                <img src="../../../../assets/img/dashboard-icon.png" alt="dash-icon" class="sidebar__item__icon">
                <h2 class="sidebar__item__name">Dashboard</h2>
            </div>

            <div class="sidebar__item">
                <img src="../../../../assets/img/home-icon.png" alt="dash-icon" class="sidebar__item__icon">
                <h2 class="sidebar__item__name">Home</h2>
            </div>

            <div class="sidebar__item">
                <img src="../../../../assets/img/profile-icon.png" alt="dash-icon" class="sidebar__item__icon">
                <h2 class="sidebar__item__name">Profile</h2>
            </div>
            
        </div>

    </div>
    <div class="content">
        <div class="topbar">
            <div class="topbar__shape">
                <div class="topbar__shape-first">
                    <img src="../../../../assets/img/me.jpg" alt="pic" class="topbar__user-pic">
                    <p class="topbar__user-name">Nabil</p>
                </div>

                <div class="topbar__shape-second">
                    <button class="topbar__btn topbar__notif">
                        <img class="topbar_icons" src="../../../../assets/img/notification-icon.png" alt="">
                    </button>

                    <button class="topbar__btn topbar__logout">
                        <img class="topbar_icons" src="../../../../assets/img/logout-icon.png" alt="">
                    </button>
                </div>
            </div>


        </div>

        <div class="greeting">
            <span class="greeting__section-name">Dashboard</span><span class="greeting__hello">Hello Nabil, Welcome back.</span>
        </div>

        <div class="dashboard">
            <div class="dashboard__balance dashboard__init">
                <h2 class="dashboard__balance__title">Current balance</h2>
                <div class="dashboard__balance__ill-amount">
                    <img src="../../../../assets/img/balance-ill.png" alt="ill" class="dashboard__balance__ill-amount--ill">
                    <h2 class="dashboard__balance__ill-amount--amount">1500 DNT</h2>
                </div>
                <div class="dashboard__balance__btn">
                    <a href="" class="dashboard__balance__btn--widthraw">
                        <img src="../../../../assets/img/withdraw-icon.png" alt="" class="dashboard__balance__btn--widthraw--icon">
                        <p class="dashboard__balance__btn--widthraw--text">Withdraw</p>
                    </a>

                    <a href="" class="dashboard__balance__btn--widthraw">
                        <img src="../../../../assets/img/deposit-icon.png" alt="" class="dashboard__balance__btn--widthraw--icon">
                        <p class="dashboard__balance__btn--widthraw--text">Deposit</p>
                    </a>
                </div>
            </div>

            <div class="dashboard__help-count dashboard__init">
                <span class="dashboard__help-count--text">You help <span class="dashboard__help-count--text-sp">50</span> person </span>
                <img src="../../../../assets/img/count-ill.png" alt="" class="dashboard__help-count__ill">
            </div>

            <div class="dashboard__profile ">
                <div class="dashboard__profile__user">
                    <img src="../../../../assets/img/me.jpg" alt="" class="dashboard__profile__user__user-pic">
                    <div class="dashboard__profile__user__user-info">
                        <span class="dashboard__profile__user__user-info--fullname">Nabil Mersni</span>
                        <span class="dashboard__profile__user__user-info--account-etat">verified account <span> </span></span>
                    </div>
                </div>

                <div class="dashboard__profile__bank-cards">
                    <div class="dashboard__profile__bank-cards__header">
                        <h2 class="dashboard__profile__bank-cards__header--title">Your cards</h2>
                        <a href=""  class="dashboard__profile__bank-cards__header--add-btn">
                            <img src="../../../../assets/img/add-icon.png" alt="" class="dashboard__profile__bank-cards__header--add-btn_icon">
                        </a>
                    </div>

                    <div class="card-group">

                        <div class="dashboard__profile__bank-cards__body">
                            <img src="../../../../assets/img/visa-icon.png" alt="" class="dashboard__profile__bank-cards__body__logo">
                            <p class="dashboard__profile__bank-cards__body__number">****5721</p>
                            <a href="" class="dashboard__profile__bank-cards__body__detail-btn"> <img class="dashboard__profile__bank-cards__body__detail-btn-icon" src="../../../../assets/img/next-icon.png" alt=""></a>
                        </div>

                    </div>
                </div>

                <div class="dashboard__profile__donation-h">
                    <div class="dashboard__profile__donation-h__header">
                        <h2 class="dashboard__profile__donation-h__header--title">Donation history</h2>
                    </div>

                    <div class="card-group">
                        <div class="dashboard__profile__donation-h__body">
                            <div class="dashboard__profile__donation-h__body__donor-info">
                                <div class="dashboard__profile__donation-h__body__donor-info__img">
                                    <span class="dashboard__profile__donation-h__body__donor-info__img-text">A</span>
                                </div>

                                <div class="tt">
                                    <h2 class="dashboard__profile__donation-h__body__donor-info__fullname">Ahmed benahmed</h2>
                                    <p class="dashboard__profile__donation-h__body__donor-info__date">14-may-2020</p>
                                </div>

                            </div>
                            <p class="dashboard__profile__donation-h__body__amount">- 20DNT</p>
                        </div>

                        <div class="dashboard__profile__donation-h__body">
                            <div class="dashboard__profile__donation-h__body__donor-info">
                                <div class="dashboard__profile__donation-h__body__donor-info__img">
                                    <span class="dashboard__profile__donation-h__body__donor-info__img-text">A</span>
                                </div>

                                <div class="tt">
                                    <h2 class="dashboard__profile__donation-h__body__donor-info__fullname">Ahmed benahmed</h2>
                                    <p class="dashboard__profile__donation-h__body__donor-info__date">14-may-2020</p>
                                </div>

                            </div>
                            <p class="dashboard__profile__donation-h__body__amount">- 20DNT</p>
                        </div>

                        <div class="dashboard__profile__donation-h__body">
                            <div class="dashboard__profile__donation-h__body__donor-info">
                                <div class="dashboard__profile__donation-h__body__donor-info__img">
                                    <span class="dashboard__profile__donation-h__body__donor-info__img-text">A</span>
                                </div>

                                <div class="tt">
                                    <h2 class="dashboard__profile__donation-h__body__donor-info__fullname">Ahmed benahmed</h2>
                                    <p class="dashboard__profile__donation-h__body__donor-info__date">14-may-2020</p>
                                </div>

                            </div>
                            <p class="dashboard__profile__donation-h__body__amount">- 20DNT</p>
                        </div>

                        <div class="dashboard__profile__donation-h__body">
                            <div class="dashboard__profile__donation-h__body__donor-info">
                                <div class="dashboard__profile__donation-h__body__donor-info__img">
                                    <span class="dashboard__profile__donation-h__body__donor-info__img-text">A</span>
                                </div>

                                <div class="tt">
                                    <h2 class="dashboard__profile__donation-h__body__donor-info__fullname">Ahmed benahmed</h2>
                                    <p class="dashboard__profile__donation-h__body__donor-info__date">14-may-2020</p>
                                </div>

                            </div>
                            <p class="dashboard__profile__donation-h__body__amount">- 20DNT</p>
                        </div>

                        <div class="dashboard__profile__donation-h__body">
                            <div class="dashboard__profile__donation-h__body__donor-info">
                                <div class="dashboard__profile__donation-h__body__donor-info__img">
                                    <span class="dashboard__profile__donation-h__body__donor-info__img-text">A</span>
                                </div>

                                <div class="tt">
                                    <h2 class="dashboard__profile__donation-h__body__donor-info__fullname">Ahmed benahmed</h2>
                                    <p class="dashboard__profile__donation-h__body__donor-info__date">14-may-2020</p>
                                </div>

                            </div>
                            <p class="dashboard__profile__donation-h__body__amount">- 20DNT</p>
                        </div>

                        <div class="dashboard__profile__donation-h__body">
                            <div class="dashboard__profile__donation-h__body__donor-info">
                                <div class="dashboard__profile__donation-h__body__donor-info__img">
                                    <span class="dashboard__profile__donation-h__body__donor-info__img-text">A</span>
                                </div>

                                <div class="tt">
                                    <h2 class="dashboard__profile__donation-h__body__donor-info__fullname">Ahmed benahmed</h2>
                                    <p class="dashboard__profile__donation-h__body__donor-info__date">14-may-2020</p>
                                </div>

                            </div>
                            <p class="dashboard__profile__donation-h__body__amount">- 20DNT</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="dashboard__follow-fundraising">
                <div class="dashboard__follow-fundraising__header">
                    <h2 class="dashboard__follow-fundraising__header__title">Fundraising you follow</h2>
                </div>

                <div class="dashboard__follow-fundraising__body">
                    <div class="card-group">
                        <div class="dashboard__follow-fundraising__body__card">
                            <div class="dashboard__follow-fundraising__body__card__img">
                                <img src="../../../../assets/img/sami-cancer.jpg" alt="" class="dashboard__follow-fundraising__body__card__img-1">
                            </div>

                            <div class="dashboard__follow-fundraising__body__card__content">
                                <h2 class="dashboard__follow-fundraising__body__card__content__title">Help Sami to beat cancer</h2>
                                
                                <div class="dashboard__follow-fundraising__body__card__content__group">
                                    <div class="dashboard__follow-fundraising__body__card__content__group__user-info">
                                        <h2 class="dashboard__follow-fundraising__body__card__content__group__user-info__name">Sami bensami</h2>
                                        <p class="dashboard__follow-fundraising__body__card__content__group__user-info__date">14-may-2020</p>
                                    </div>

                                    <div class="dashboard__follow-fundraising__body__card__content__group__progress">
                                        <p class="dashboard__follow-fundraising__body__card__content__group__progress__last-donation">Last donation 1d ago</p>
                                        <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
                                        <p class="dashboard__follow-fundraising__body__card__content__group__progress__amount">250000 DNT raised of 300000 DNT</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>
