<div class="dashboard-container">

    <!--sidebar-->
    <app-sidebar></app-sidebar>
    <!--sidebar-->

    <div class="content">

        <!--topbar-->
        <app-topbarr></app-topbarr>
        <!--topbar-->

        <div class="greeting">
            <span class="greeting__section-name">Profile</span><span class="greeting__hello">Welcome back.</span>
        </div>


        <div class="addFundrainsing-container">
            <div class="addFundrainsing">
                <div class="addFundrainsing__header">
                    <h2 class="addFundrainsing__header__title">Update your profile</h2>
                </div>

                <div class="addFundrainsing__body">
                    <div class="log">
                        <form [formGroup]="formAddFundraising" (ngSubmit)="updateUserInfo()" class="addFundrainsing-form log__form">


                            <div class="upload-file__container">
                                <!-- Card Header - Dropdown -->
                                <h3 class="upload-file__title">Photo</h3>

                                <div class="upload-file-body">

                                    <div class="upload-file__img-container">
                                        <img class="upload-file__img" [src]="url" alt="">
                                    </div>

                                    <div class="upload-file__btn-group">
                                        <button type="button" class="btn upload-file__upload-btn" (click)="file.click()">
                                            <i class="fas fa-file-upload" style="color: #4A5BCF;"></i> Upload
                                        </button>

                                        <button type="button" class="btn upload-file__annuler-btn" (click)="resetImg()">
                                            <i class="far fa-trash-alt" style="color: red;"></i> Annuler
                                        </button>

                                        <input type="file" (change)="onSelectFile($event)"
                                            accept="image/jpeg, image/png" #file
                                            style="visibility: hidden;width:0px;height:0px">

                                    </div>
                                </div>
                            </div>


                            <div class="form__group">
                                <input formControlName="fullname" type="text" class="form__input form__input--log"
                                    id="name" placeholder="Full name" autocomplete="false" required>
                                <label for="name" class="form__label">Full name</label>

                                <div class="input-alert" *ngIf="myFullName.touched && myFullName.invalid">
                                    <div class="input-alert" *ngIf="myFullName.errors.pattern">invalid</div>
                                    <div class="input-alert" *ngIf="myFullName.errors.required">required</div>
                                    <div class="input-alert" *ngIf="myFullName.errors.minlength">must contains at least
                                        2 character</div>
                                </div>
                            </div>

                            <div class="form__group">
                                <input formControlName="username" type="text" class="form__input form__input--log"
                                    id="username" placeholder="Username" autocomplete="off" required>
                                <label for="username" class="form__label">Username</label>

                                <div class="input-alert" *ngIf="myUserName.touched && myUserName.invalid">
                                    <div class="input-alert" *ngIf="myUserName.errors.required">required</div>
                                    <div class="input-alert" *ngIf="myUserName.errors.pattern">invalid</div>
                                    <div class="input-alert" *ngIf="myUserName.errors.minlength">must contains at least
                                        2 character</div>
                                </div>
                            </div>

                            <div class="form__group">
                                <input formControlName="phone" type="number" class="form__input form__input--log"
                                    id="phone" placeholder="Phone" autocomplete="off" required>
                                <label for="phone" class="form__label">Phone</label>

                                <div *ngIf="myPhone.touched && myPhone.invalid">
                                    <div class="input-alert" *ngIf="myPhone.errors.pattern">invalid</div>
                                    <div class="input-alert" *ngIf="myPhone.errors.required">required</div>
                                    <div class="input-alert"
                                        *ngIf="myPhone.errors.minlength || myPhone.errors.maxlength">must contains 8
                                        number</div>
                                </div>
                            </div>

                            <div class="form__group">
                                <input formControlName="email" type="email" class="form__input form__input--log"
                                    id="email" placeholder="Email" autocomplete="off" required>
                                <label for="email" class="form__label">Email</label>

                                <div class="input-alert" *ngIf="myEmail.touched && myEmail.invalid">
                                    <div class="input-alert" *ngIf="myEmail.errors.email">invalid</div>
                                    <div class="input-alert" *ngIf="myEmail.errors.required">required</div>
                                    <div class="input-alert" *ngIf="myEmail.errors.minlength">must contains at least 2
                                        character</div>
                                </div>
                            </div>

                            <button type="submit"
                                [disabled]="formAddFundraising.invalid"
                                class="secondary-btn secondary-btn--roz">Update</button>

                        </form>
                    </div>
                </div>
            </div>
        </div>




    </div>
</div>
