<div class="dashboard-container">

    <!--sidebar-->
    <app-sidebar></app-sidebar>
    <!--sidebar-->

    <div class="content">
        
        <!--topbar-->
        <app-topbarr></app-topbarr>
        <!--topbar-->

        <div class="greeting">
            <span class="greeting__section-name">Fundraising detail</span><span class="greeting__hello">Welcome back.</span>
        </div>

        <div class="post-container">
            <div class="post-fundraising">
                <div class="post-fundraising__header">
                    <h2 class="post-fundraising__header__title">{{post.title}}</h2>
                </div>
        
                <div class="post-fundraising__body">
                    <div class="post-content">
                        <div class="post-content__img-container">
                            <img [src]="fundImg" alt="" class="post-content__img-container__img">
                        </div>
                        <div class="post-content__organizer-container">
                            <div class="post-content__organizer-container__img-container">
                                <img [src]="userImg" alt="" class="post-content__organizer-container__img-container__img">
                            </div>
                            <div class="post-content__organizer-container__txt">{{user.fullname}} is organizing this fundraiser.</div>
                        </div>
                        <div class="devider"></div>
                        <div class="post-content__date-type">
                            <div class="post-content__date-type__date"><span>Created </span> in {{post.date}}</div>
                            <div class="post-content__date-type__type"><span>category</span> {{post.type}}</div>
                        </div>
                        <div class="devider"></div>

                        <p class="post-content__description">{{post.description}}</p>

                        <div class="devider"></div>

                        <div class="post-content__update-container">
                            <h2 class="post-content__update-container__header">Updates (1)</h2>

                            <div class="post-content__update-container__card">
                                <div class="post-content__update-container__card__header"><span>11 JULY 2020</span> by {{user.fullname}}, Organizer</div>
                                <br>
                                <p class="post-content__update-container__card__body">
                                    Hi everyone, thank you very much for your support and help we're so close to attemp our objectif amount.
                                </p>
                            </div>
                            
                        </div>

                        <div class="devider"></div>

                        <div class="post-content__comment-container">
                            <h2 class="post-content__comment-container__header">Comments (3)</h2>

                            <div class="post-content__comment-container__card">
                                <div class="user-img-date">
                                    <div class="post-content__comment-container__card__img-container">
                                        <img src="../../../../../assets/img/me.jpg" alt="" class="post-content__comment-container__card__img-container__img">
                                    </div>
                                    <p class="post-content__comment-container__card__date">1d ago</p>
                                </div>

                                <div class="post-content__comment-container__card__header">Nabil Mersni donated <span>300 DNT</span>
                                
                                    <p class="post-content__comment-container__card__comment">nchalah labes.</p>
                                </div>


                            </div>

                            <div class="post-content__comment-container__card">
                                <div class="user-img-date">
                                    <div class="post-content__comment-container__card__img-container">
                                        <img src="../../../../../assets/img/me.jpg" alt="" class="post-content__comment-container__card__img-container__img">
                                    </div>
                                    <p class="post-content__comment-container__card__date">1d ago</p>
                                </div>

                                <div class="post-content__comment-container__card__header">Nabil Mersni donated <span>300 DNT</span>
                                
                                    <p class="post-content__comment-container__card__comment">nchalah labes.</p>
                                </div>


                            </div>

                            <div class="post-content__comment-container__card">
                                <div class="user-img-date">
                                    <div class="post-content__comment-container__card__img-container">
                                        <img src="../../../../../assets/img/me.jpg" alt="" class="post-content__comment-container__card__img-container__img">
                                    </div>
                                    <p class="post-content__comment-container__card__date">1d ago</p>
                                </div>

                                <div class="post-content__comment-container__card__header">Nabil Mersni donated <span>300 DNT</span>
                                
                                    <p class="post-content__comment-container__card__comment">nchalah labes.</p>
                                </div>


                            </div>
                            
                        </div>
                                                

                    </div>

                    <div class="post-stat">

                        <div class="post-stat__group__progress">
                            <p class="post-stat__group__progress__last-donation">Last donation 1d ago</p>
                            <progress max="100" value="84"></progress>
                            <p class="post-stat__group__progress__amount"><span>250000 DNT</span> raised of <span>300000 DNT</span></p>
                        </div>

                        <div class="post-stat__group__stat">
                            <div class="post-stat__group__stat__item">
                                <p class="post-stat__group__stat__item__number">26K</p>
                                <p class="post-stat__group__stat__item__field">Donor</p>
                            </div>

                            <div class="post-stat__group__stat__item">
                                <p class="post-stat__group__stat__item__number">26K</p>
                                <p class="post-stat__group__stat__item__field">Follow</p>
                            </div>

                            <div class="post-stat__group__stat__item">
                                <p class="post-stat__group__stat__item__number">26K</p>
                                <p class="post-stat__group__stat__item__field">Share</p>
                            </div>
                        </div>

                        <div class="post-stat__follow-btn">
                            <button class="follow-btn">Follow</button>
                        </div>

                        <div class="post-stat__btn-group">
                            <button class="post-stat__btn-group__btn">
                                <img src="../../../../../assets/img/share-icon.png" alt="" class="post-stat__btn-group__btn__icon">
                                <p class="post-stat__btn-group__btn__text">Share</p>
                            </button>
                            <button class="post-stat__btn-group__btn">
                                <img src="../../../../../assets/img/donation-icon.png" alt="" class="post-stat__btn-group__btn__icon">
                                <p class="post-stat__btn-group__btn__text">Donate now</p>
                            </button>
                        </div>

                        <div class="devider"></div>

                        <div class="post-stat__donor-group">

                            <div class="post-stat__donor-group__item">
                                <div class="post-stat__donor-group__item__img-container">
                                    <img src="../../../../../assets/img/me.jpg" alt="" class="post-stat__donor-group__item__img-container__img">
                                </div>
                                <div class="post-stat__donor-group__item__content">
                                    <h2 class="post-stat__donor-group__item__content__name">Nabil Mersni</h2>
                                    <h2 class="post-stat__donor-group__item__content__amount"><span>500 DNT</span> 1h ago</h2>
                                </div>
                            </div>

                            <div class="post-stat__donor-group__item">
                                <div class="post-stat__donor-group__item__img-container">
                                    <img src="../../../../../assets/img/me.jpg" alt="" class="post-stat__donor-group__item__img-container__img">
                                </div>
                                <div class="post-stat__donor-group__item__content">
                                    <h2 class="post-stat__donor-group__item__content__name">Nabil Mersni</h2>
                                    <h2 class="post-stat__donor-group__item__content__amount"><span>500 DNT</span> 1h ago</h2>
                                </div>
                            </div>

                            <div class="post-stat__donor-group__item">
                                <div class="post-stat__donor-group__item__img-container">
                                    <img src="../../../../../assets/img/me.jpg" alt="" class="post-stat__donor-group__item__img-container__img">
                                </div>
                                <div class="post-stat__donor-group__item__content">
                                    <h2 class="post-stat__donor-group__item__content__name">Nabil Mersni</h2>
                                    <h2 class="post-stat__donor-group__item__content__amount"><span>500 DNT</span> 1h ago</h2>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
        
            </div>

        </div>

        

    </div>
</div>







<!--
    <div class="card" *ngFor="let post of posts">
                            <div class="card__img-container">
                                <img [src]="'http://localhost:3000/'+post.image" alt="" class="card__img">
                                
                            </div>
                            <div class="card__container">

                                <div class="card__title">{{post.title}}</div>
                                <p class="card__description">{{post.description}}</p>
                                
                                <div class="card__group__progress">
                                    <p class="card__group__progress__last-donation">Last donation 1d ago</p>
                                    <progress max="100" value="84"></progress>
                                    <p class="card__group__progress__amount"><span>250000 DNT</span> raised of <span>300000 DNT</span></p>
                                </div>

                                <div class="devider"></div>

                                <div class="card__bottom">
                                    <div class="card__user-info">
                                        <h2 class="card__user-info__name">{{post.userFullname}}</h2>
                                        <p class="card__user-info__date">{{post.date}}</p>
                                    </div>

                                    <button class="card__follow-btn">Following</button>
                                </div>

                            </div>
                        </div>
-->