<div class="sidebar">
    <img src="../../../../assets/img/logo-dark.png" alt="Logo" class="sidebar__logo">

    <div class="sidebar__item-group">
        <div class="sidebar__item active">
            <img src="../../../../assets/img/dashboard-icon.png" alt="dash-icon" class="sidebar__item__icon">
            <h2 class="sidebar__item__name">Dashboard</h2>
        </div>

        <div class="sidebar__item">
            <img src="../../../../assets/img/home-icon.png" alt="dash-icon" class="sidebar__item__icon">
            <h2 class="sidebar__item__name">Home</h2>
        </div>

        <div class="sidebar__item">
            <img src="../../../../assets/img/profile-icon.png" alt="dash-icon" class="sidebar__item__icon">
            <h2 class="sidebar__item__name">Profile</h2>
        </div>
        
    </div>

</div>
