<div class="dashboard-container">

    <!--sidebar-->
    <app-sidebar></app-sidebar>
    <!--sidebar-->

    <div class="content">
        
        <!--topbar-->
        <app-topbarr></app-topbarr>
        <!--topbar-->

        <div class="greeting">
            <span class="greeting__section-name">Home</span><span class="greeting__hello">Welcome back.</span>
        </div>

        <div class="home">
            <div class="create_fundraising">
                <h2 class="create_fundraising__text">Create a Fundraising</h2>
                <button (click)="routeToAddFundraising()" class="create_fundraising__btn"><img src="../../../../../assets/img/add-icon.png" alt="" class="create_fundraising__btn__icon"> Create</button>
            </div>


            <!---->
            <div class="home-fundraising">
                <div class="home-fundraising__header">
                    <h2 class="home-fundraising__header__title">Fundraisers</h2>
                </div>
        
                <div class="home-fundraising__body">
                    <div class="card-group">
        
                        <div class="card" *ngFor="let post of posts" (click)= "routeTodetail(post._id)">
                            <div class="card__img-container">
                                <img [src]="'http://localhost:3000/'+post.image" alt="" class="card__img">
                                <!--../../../../../assets/img/sami-cancer.jpg-->
                            </div>
                            <div class="card__container">

                                <div class="card__title">{{post.title}}</div>
                                <p class="card__description">{{ (post.description.length>164)? (post.description | slice:0:164)+'...':(post.description) }}</p>
                                
                                <div class="card__group__progress">
                                    <p class="card__group__progress__last-donation">Last donation 1d ago</p>
                                    <progress max="100" value="84"></progress>
                                    <p class="card__group__progress__amount"><span>250000 DNT</span> raised of <span>300000 DNT</span></p>
                                </div>

                                <div class="devider"></div>

                                <div class="card__bottom">
                                    <div class="card__user-info">
                                        <h2 class="card__user-info__name">{{post.userFullname}}</h2>
                                        <p class="card__user-info__date">{{post.date}}</p>
                                    </div>

                                    <button class="follow-btn">Following</button>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
        
            </div>
            <!---->
        </div>

        

    </div>
</div>
