<div class="dashboard-container">

    <!--sidebar-->
    <app-sidebar></app-sidebar>
    <!--sidebar-->

    <div class="content">
        
        <!--topbar-->
        <app-topbarr></app-topbarr>
        <!--topbar-->

        <div class="greeting">
            <span class="greeting__section-name">Home</span><span class="greeting__hello">Hello Nabil, Welcome back.</span>
        </div>

        <div class="home">
            <div class="create_fundraising">
                <h2 class="create_fundraising__text">Create a Fundraising</h2>
                <button  class="create_fundraising__btn"><img src="../../../../../assets/img/add-icon.png" alt="" class="create_fundraising__btn__icon"> Create</button>
            </div>


            <!---->
            <div class="home-fundraising">
                <div class="home-fundraising__header">
                    <h2 class="home-fundraising__header__title">Fundraisers</h2>
                </div>
        
                <div class="home-fundraising__body">
                    <div class="card-group">
        
                        <div class="card">
                            <div class="card__img-container">
                                <img src="../../../../../assets/img/sami-cancer.jpg" alt="" class="card__img">
                            </div>
                            <div class="card__container">

                                <div class="card__title">Help Sami to Beat cancer</div>
                                <div class="card__description">Hello my name is sami and i have cancer, Our friend Negar was diagnosed with an aggressive form...</div>
                                
                                <div class="card__group__progress">
                                    <p class="card__group__progress__last-donation">Last donation 1d ago</p>
                                    <progress max="100" value="84"></progress>
                                    <p class="card__group__progress__amount"><span>250000 DNT</span> raised of <span>300000 DNT</span></p>
                                </div>

                                <div class="devider"></div>

                                <div class="card__bottom">
                                    <div class="card__user-info">
                                        <h2 class="card__user-info__name">Sami bensami</h2>
                                        <p class="card__user-info__date">15-may-2020</p>
                                    </div>

                                    <button class="card__follow-btn">Following</button>
                                </div>

                            </div>
                        </div>

                        <div class="card">
                            <div class="card__img-container">
                                <img src="../../../../../assets/img/sami-cancer.jpg" alt="" class="card__img">
                            </div>
                            <div class="card__container">

                                <div class="card__title">Help Sami to Beat cancer</div>
                                <div class="card__description">Hello my name is sami and i have cancer, Our friend Negar was diagnosed with an aggressive form...</div>
                                
                                <div class="card__group__progress">
                                    <p class="card__group__progress__last-donation">Last donation 1d ago</p>
                                    <progress max="100" value="84"></progress>
                                    <p class="card__group__progress__amount"><span>250000 DNT</span> raised of <span>300000 DNT</span></p>
                                </div>

                                <div class="devider"></div>

                                <div class="card__bottom">
                                    <div class="card__user-info">
                                        <h2 class="card__user-info__name">Sami bensami</h2>
                                        <p class="card__user-info__date">15-may-2020</p>
                                    </div>

                                    <button class="card__follow-btn">Following</button>
                                </div>

                            </div>
                        </div>

                        <div class="card">
                            <div class="card__img-container">
                                <img src="../../../../../assets/img/sami-cancer.jpg" alt="" class="card__img">
                            </div>
                            <div class="card__container">

                                <div class="card__title">Help Sami to Beat cancer</div>
                                <div class="card__description">Hello my name is sami and i have cancer, Our friend Negar was diagnosed with an aggressive form...</div>
                                
                                <div class="card__group__progress">
                                    <p class="card__group__progress__last-donation">Last donation 1d ago</p>
                                    <progress max="100" value="84"></progress>
                                    <p class="card__group__progress__amount"><span>250000 DNT</span> raised of <span>300000 DNT</span></p>
                                </div>

                                <div class="devider"></div>

                                <div class="card__bottom">
                                    <div class="card__user-info">
                                        <h2 class="card__user-info__name">Sami bensami</h2>
                                        <p class="card__user-info__date">15-may-2020</p>
                                    </div>

                                    <button class="card__follow-btn">Following</button>
                                </div>

                            </div>
                        </div>

                        <div class="card">
                            <div class="card__img-container">
                                <img src="../../../../../assets/img/sami-cancer.jpg" alt="" class="card__img">
                            </div>
                            <div class="card__container">

                                <div class="card__title">Help Sami to Beat cancer</div>
                                <div class="card__description">Hello my name is sami and i have cancer, Our friend Negar was diagnosed with an aggressive form...</div>
                                
                                <div class="card__group__progress">
                                    <p class="card__group__progress__last-donation">Last donation 1d ago</p>
                                    <progress max="100" value="84"></progress>
                                    <p class="card__group__progress__amount"><span>250000 DNT</span> raised of <span>300000 DNT</span></p>
                                </div>

                                <div class="devider"></div>

                                <div class="card__bottom">
                                    <div class="card__user-info">
                                        <h2 class="card__user-info__name">Sami bensami</h2>
                                        <p class="card__user-info__date">15-may-2020</p>
                                    </div>

                                    <button class="card__follow-btn">Following</button>
                                </div>

                            </div>
                        </div>

                        <div class="card">
                            <div class="card__img-container">
                                <img src="../../../../../assets/img/sami-cancer.jpg" alt="" class="card__img">
                            </div>
                            <div class="card__container">

                                <div class="card__title">Help Sami to Beat cancer</div>
                                <div class="card__description">Hello my name is sami and i have cancer, Our friend Negar was diagnosed with an aggressive form...</div>
                                
                                <div class="card__group__progress">
                                    <p class="card__group__progress__last-donation">Last donation 1d ago</p>
                                    <progress max="100" value="84"></progress>
                                    <p class="card__group__progress__amount"><span>250000 DNT</span> raised of <span>300000 DNT</span></p>
                                </div>

                                <div class="devider"></div>

                                <div class="card__bottom">
                                    <div class="card__user-info">
                                        <h2 class="card__user-info__name">Sami bensami</h2>
                                        <p class="card__user-info__date">15-may-2020</p>
                                    </div>

                                    <button class="card__follow-btn">Following</button>
                                </div>

                            </div>
                        </div>

                        <div class="card">
                            <div class="card__img-container">
                                <img src="../../../../../assets/img/sami-cancer.jpg" alt="" class="card__img">
                            </div>
                            <div class="card__container">

                                <div class="card__title">Help Sami to Beat cancer</div>
                                <div class="card__description">Hello my name is sami and i have cancer, Our friend Negar was diagnosed with an aggressive form...</div>
                                
                                <div class="card__group__progress">
                                    <p class="card__group__progress__last-donation">Last donation 1d ago</p>
                                    <progress max="100" value="84"></progress>
                                    <p class="card__group__progress__amount"><span>250000 DNT</span> raised of <span>300000 DNT</span></p>
                                </div>

                                <div class="devider"></div>

                                <div class="card__bottom">
                                    <div class="card__user-info">
                                        <h2 class="card__user-info__name">Sami bensami</h2>
                                        <p class="card__user-info__date">15-may-2020</p>
                                    </div>

                                    <button class="card__follow-btn">Following</button>
                                </div>

                            </div>
                        </div>

                        <div class="card">
                            <div class="card__img-container">
                                <img src="../../../../../assets/img/sami-cancer.jpg" alt="" class="card__img">
                            </div>
                            <div class="card__container">

                                <div class="card__title">Help Sami to Beat cancer</div>
                                <div class="card__description">Hello my name is sami and i have cancer, Our friend Negar was diagnosed with an aggressive form...</div>
                                
                                <div class="card__group__progress">
                                    <p class="card__group__progress__last-donation">Last donation 1d ago</p>
                                    <progress max="100" value="84"></progress>
                                    <p class="card__group__progress__amount"><span>250000 DNT</span> raised of <span>300000 DNT</span></p>
                                </div>

                                <div class="devider"></div>

                                <div class="card__bottom">
                                    <div class="card__user-info">
                                        <h2 class="card__user-info__name">Sami bensami</h2>
                                        <p class="card__user-info__date">15-may-2020</p>
                                    </div>

                                    <button class="card__follow-btn">Following</button>
                                </div>

                            </div>
                        </div>

                        <div class="card">
                            <div class="card__img-container">
                                <img src="../../../../../assets/img/sami-cancer.jpg" alt="" class="card__img">
                            </div>
                            <div class="card__container">

                                <div class="card__title">Help Sami to Beat cancer</div>
                                <div class="card__description">Hello my name is sami and i have cancer, Our friend Negar was diagnosed with an aggressive form...</div>
                                
                                <div class="card__group__progress">
                                    <p class="card__group__progress__last-donation">Last donation 1d ago</p>
                                    <progress max="100" value="84"></progress>
                                    <p class="card__group__progress__amount"><span>250000 DNT</span> raised of <span>300000 DNT</span></p>
                                </div>

                                <div class="devider"></div>

                                <div class="card__bottom">
                                    <div class="card__user-info">
                                        <h2 class="card__user-info__name">Sami bensami</h2>
                                        <p class="card__user-info__date">15-may-2020</p>
                                    </div>

                                    <button class="card__follow-btn">Following</button>
                                </div>

                            </div>
                        </div>

                        
        
                    </div>
                </div>
        
            </div>
            <!---->
        </div>

        

    </div>
</div>
