<div class="topbar">
    <div class="topbar__shape">
        <div class="topbar__shape-first">
            <img routerLink="/profile" [src]="url" alt="pic" class="topbar__user-pic">
            <p class="topbar__user-name">{{user.username}}</p>
        </div>

        <div class="topbar__shape-second">
            <button class="topbar__btn topbar__notif">
                <img class="topbar_icons" src="../../../../assets/img/notification-icon.png" alt="">
            </button>

            <button (click)="logout()" class="topbar__btn topbar__logout">
                <img class="topbar_icons" src="../../../../assets/img/logout-icon.png" alt="">
            </button>
        </div>
    </div>
</div>