<div class="navigation navigation-scrolled-header">
    <nav class="navigation__nav">
        <div class="navigation__logo-box">
            <lottie-player class="navigation__logo" src="https://assets3.lottiefiles.com/packages/lf20_ghD1Mu.json"
                background="transparent" speed="1" style="width: auto; height: auto;" loop autoplay></lottie-player>
        </div>
        <ul class="navigation__list">
            <li class="navigation__item"><a href="#" class="navigation__link">Home</a></li>
            <li class="navigation__item"><a href="#about" class="navigation__link">About</a></li>
            <li class="navigation__item"><a href="#method" class="navigation__link">Donation methods</a></li>
            <li class="navigation__item"><a href="#sp" class="navigation__link">What's special</a></li>
            <li class="navigation__item"><a href="#contact" class="navigation__link">Contact</a></li>
            <div class="navigation__btn">
                <a routerLink="/login" class="secondary-btn secondary-btn-white">Log in</a>
                <a routerLink="/register" class="secondary-btn">Register</a>
            </div>
        </ul>
    </nav>

</div>

<div class="navigation-small navigation-scrolled-header">
    <nav class="navigation-small__nav">
        <div class="navigation-small__logo-box">
            <lottie-player class="navigation-small__logo"
                src="https://assets3.lottiefiles.com/packages/lf20_ghD1Mu.json" background="transparent" speed="1"
                style="width: auto; height: auto;" loop autoplay></lottie-player>
        </div>

        <div class="navigation-small__toggler">
            <input class="navigation-small__input" type="checkbox" id="toggler">
            <label for="toggler" class="navigation-small__label">
                <h1 class="navigation-small__label-text">Menu</h1>
                <span class="navigation-small__label-shape">&nbsp;</span>
            </label>
            <div class="navigation-small__bg">&nbsp;</div>
        </div>

    </nav>

    <div class="navigation-small__list__container">
        <ul class="navigation-small__list">
            <li class="navigation-small__item"><a href="#" class="navigation-small__link">Home</a></li>
            <li class="navigation-small__item"><a href="#about" class="navigation-small__link">About</a></li>
            <li class="navigation-small__item"><a href="#method" class="navigation-small__link">Donation methods</a></li>
            <li class="navigation-small__item"><a href="#sp" class="navigation-small__link">What's special</a></li>
            <li class="navigation-small__item"><a href="#contact" class="navigation-small__link">Contact</a></li>
            <div class="navigation-small__btn">
                <a routerLink="/login" class="secondary-btn secondary-btn-small-nav">Log in</a>
                <a routerLink="/register" class="secondary-btn secondary-btn-small-nav">Sign up</a>
            </div>
        </ul>
    </div>

</div>





<header class="header">
    <div class="header__content">

        <div class="header__logo-box">
            <lottie-player class="header__logo" src="https://assets3.lottiefiles.com/packages/lf20_ghD1Mu.json"
                background="transparent" speed="1" loop autoplay></lottie-player>
        </div>

        <h1 class="heading-header">
            Amena is an online donation platform that helps individuals and associations to collect money
        </h1>

        <div routerLink="/login" class="primary-btn__box">
            <div class="primary-btn__icon-box primary-btn__icon-box-header">
                <img src="../../../../assets/img/next.png" alt="" class="primary-btn__icon">
            </div>
            <button class="primary-btn primary-btn-header">Save someone's life</button>
        </div>



        <!--
                <a class="primary-btn " href="#"><span><img class="primary-btn__icon" src="../../../../assets/img/next.png" alt=""></span><span class="primary-btn__text" ></span> Save someone's life</a>
                <a class="header__btn secondary-btn" href="#">Save someone's life</a>
            -->


    </div>

    <a href="#sp">
        <div class="header__special-offer-box">
            <lottie-player class="header__special-offer" src="https://assets7.lottiefiles.com/packages/lf20_TwbfK9.json"
                background="transparent" speed="1" loop autoplay></lottie-player>
        </div>
    </a>

    <div class="scroll-box">
        <lottie-player class="scroll" src="https://assets3.lottiefiles.com/packages/lf20_A3Gtt4.json"
            background="transparent" speed="1" loop autoplay></lottie-player>
    </div>

    <div class="header__shape-box">
        <img src="../../../../assets/img/shape limin.png" alt="Shape" class="header__shape">
    </div>
</header>

<main>

    <section class="section-quote">
        <img src="../../../../assets/img/quote-shape.png" alt="quote-shape" class="section-quote__shape">

        <div class="section-quote__content">
            <img src="../../../../assets/img/quote-logo.png" alt="quote-logo" class="section-quote__logo">

            <div class="section-quote__container">

                <lottie-player class="section-quote__illustration"
                    src="https://assets3.lottiefiles.com/packages/lf20_yGPdxF.json" background="transparent" speed="1"
                    loop autoplay></lottie-player>

                <div class="section-quote__text">
                    <img src="../../../../assets/img/teresa-img.png" alt="teresa"
                        class="section-quote__text__teresa-img">
                    <div class="heading-quote-box">
                        <h2 class="heading-quote">
                            It’s not how much we give but how much love we put into giving.
                            <p class="quote-author"><span class="quote-author-line"></span>Mother Teresa<span
                                    class="quote-author-line"></span></p>
                        </h2>

                    </div>
                </div>
            </div>
        </div>

        <img class="section-quote-doura" src="../../../../assets/img/doura-quote-limin.png" alt="">

    </section>

    <section class="section-association-join-us" id="about">
        <div class="association-join-us">
            <img src="../../../../assets/img/association-join-us-shape.png" alt="association-join-us-shape"
                class="association-join-us__shape">
            <img src="../../../../assets/img/association-join-us-doura.png" alt="doura"
                class="association-join-us__doura">
            <div class="association-join-us__container">
                <div class="association-join-us__text-box">
                    <h2 class="association-join-us__heading">Association join us</h2>
                    <div class="association-join-us__parag">
                        Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing industries
                        for previewing layouts and visual mockups.
                        <div class="association-join-us__btn-box">

                            <div onclick="location.href='#'"
                                class="primary-btn__box primary-btn__box--association-join-us">
                                <div class="primary-btn__icon-box">
                                    <img src="../../../../assets/img/next.png" alt="" class="primary-btn__icon">
                                </div>
                                <button class="primary-btn">Learn more</button>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="association-join-us__shape-box">

                    <div class="association-join-us__shape-box__cadre">
                        <lottie-player class="association-join-us__shape-box__illustration"
                            src="https://assets3.lottiefiles.com/packages/lf20_6laqQd.json" background="transparent"
                            speed="1" loop autoplay></lottie-player>
                    </div>

                </div>
            </div>

            <div class="association-join-us__carousel">

                <div class="swiper-container">
                    <div class="swiper-wrapper">

                        <div class="swiper-slide">
                            <div class="association-logo-box">
                                <img src="../../../../assets/img/darna-logo.png" alt="" class="association-logo">
                            </div>
                            <p class="association-discription">
                                Darna is an association for helping children without family support
                            </p>
                        </div>

                        <div class="swiper-slide">
                            <div class="association-logo-box">
                                <img src="../../../../assets/img/hilal-logo.png" alt="" class="association-logo">
                            </div>
                            <p class="association-discription">
                                The Tunisian Red Crescent is a public interest association
                            </p>
                        </div>

                        <div class="swiper-slide">
                            <div class="association-logo-box">
                                <img src="../../../../assets/img/Logo_JCI.png" alt="" class="association-logo">
                            </div>
                            <p class="association-discription">
                                Lorem ipsum is placeholder text commonly used in the graphic
                            </p>
                        </div>

                    </div>

                </div>

                <div class="swiper-container-1">
                    <div class="swiper-wrapper">

                        <div class="swiper-slide">
                            <div class="association-logo-box">
                                <img src="../../../../assets/img/darna-logo.png" alt="" class="association-logo">
                            </div>
                            <p class="association-discription">
                                Darna is an association for helping children without family support
                            </p>
                        </div>

                        <div class="swiper-slide">
                            <div class="association-logo-box">
                                <img src="../../../../assets/img/hilal-logo.png" alt="" class="association-logo">
                            </div>
                            <p class="association-discription">
                                The Tunisian Red Crescent is a public interest association
                            </p>
                        </div>

                        <div class="swiper-slide">
                            <div class="association-logo-box">
                                <img src="../../../../assets/img/Logo_JCI.png" alt="" class="association-logo">
                            </div>
                            <p class="association-discription">
                                Lorem ipsum is placeholder text commonly used in the graphic
                            </p>
                        </div>

                    </div>

                </div>

                <div class="swiper-next-box"><img src="../../../../assets/img/next carousel.png" alt=""
                        class="swiper-next"></div>
                <div class="swiper-prev-box"><img src="../../../../assets/img/prev carousel.png" alt=""
                        class="swiper-prev"></div>

            </div>
        </div>

    </section>

    <section class="section-donation-methods" id="method">
        <div class="donation-methods">

            <div class="donation-methods__text-box">
                <h1 class="donation-methods__heading">Donation methods</h1>
                <p class="donation-methods__parag">
                    Amena platform support visa card, mastercard and e-dinar card.Amena platform support visa card,
                    mastercard and e-dinar card.Amena platform support visa card, mastercard and e-dinar card
                </p>
            </div>

            <div class="donation-methods__shape-box">
                <img class="donation-methods__shape" src="../../../../assets/img/donation-methods-shape.png" alt="">
                <lottie-player class="donation-methods__illustration"
                    src="https://assets6.lottiefiles.com/packages/lf20_jXj4q7.json" background="transparent" speed="1"
                    loop autoplay></lottie-player>
            </div>
        </div>
    </section>

    <section class="section-special-about-us" id="sp">
        <div class="special-about-us">
            <div class="special-about-us__header-shape-box">
                <img src="../../../../assets/img/special-header-shape.png" alt=""
                    class="special-about-us__header-shape">
                <div class="special-about-us__header-container">
                    <h1 class="special-about-us__header-heading">What is special about us</h1>
                    <lottie-player class="special-about-us__header-illustration"
                        src="https://assets9.lottiefiles.com/packages/lf20_TwbfK9.json" background="transparent"
                        speed="1" loop autoplay></lottie-player>
                </div>

            </div>

            <div class="special-about-us__container">
                <div class="special-about-us__shape-box">
                    <img src="../../../../assets/img/special-about-us-shape.png" alt="" class="special-about-us__shape">

                </div>

                <div class="special-about-us__text">
                    <p class="special-about-us__parag">
                        Now with Amena you can help people even you Don't have money. The idea is you can help the
                        claimant by watching just video ads and the revenue of your Watch go to the claimant account
                        balance. <span class="special-text">so what you waiting for make your account and save someone's
                            life.</span>
                    </p>

                    <div onclick="location.href='#'" class="primary-btn__box primary-btn__box--special-about-us">
                        <div class="primary-btn__icon-box">
                            <img src="../../../../assets/img/next.png" alt="" class="primary-btn__icon">
                        </div>
                        <button class="primary-btn">Sign up</button>
                    </div>

                </div>

            </div>

        </div>
    </section>

    <section class="section-contact" id="contact">
        <div class="contact">
            <div class="contact__header">
                <img src="../../../../assets/img/faq.png" alt="" class="contact__shape">
                <p class="contact__parag">
                    Got a question? We'd love to hear from you. Send us a message and we'll respond as soon as possible.
                </p>
            </div>

            <div class="contact__container">

                <form action="#" class="form">
                    <div class="form__group">
                        <input type="text" class="form__input" id="name" placeholder="Name" autocomplete="false"
                            required>
                        <label for="name" class="form__label">Name</label>
                    </div>

                    <div class="form__group">
                        <input type="email" class="form__input" id="email" placeholder="Email" autocomplete="off"
                            required>
                        <label for="email" class="form__label">Email</label>
                    </div>

                    <div class="form__group">
                        <textarea class="form__input form__input-message" name="" id="message" cols="30" rows="10"
                            placeholder="Your message"></textarea>
                        <label for="message" class="form__label form__label--message">Your message</label>
                    </div>


                    <div class="primary-btn__box primary-btn__box--contact">
                        <div class="primary-btn__icon-box">
                            <img src="../../../../assets/img/paper-plane.png" alt=""
                                class="primary-btn__icon primary-btn__icon--contact">
                        </div>
                        <button class="primary-btn">Send</button>
                    </div>

                </form>

                <lottie-player class="contact__illustration"
                    src="https://assets8.lottiefiles.com/packages/lf20_IG1Hp6.json" background="transparent" speed="1"
                    loop autoplay></lottie-player>

            </div>

        </div>
    </section>

</main>

<footer class="footer">
    <img src="../../../../assets/img/footer-shape.png" alt="" class="footer__shape">
    <div class="footer__container">

        <div class="footer__logo-box">
            <lottie-player class="footer__logo" src="https://assets3.lottiefiles.com/packages/lf20_ghD1Mu.json"
                background="transparent" speed="1" loop autoplay></lottie-player>
            <img src="../../../../assets/img/faza.png" alt="" class="footer__logo--faza">
            <p class="footer__logo--paragh">
                Amena is an online donation platform that helps individuals and associations to collect money
            </p>
        </div>

        <div class="footer__follow-us">
            <div class="footer__follow-us--box">
                <h3 class="footer__follow-us__h3">Follow us</h3>
                <img src="../../../../assets/img/faza.png" alt="" class="footer__follow-us--faza">

                <div class="footer__follow-us--icon-box">
                    <a href="#"><img src="../../../../assets/img/facebook.png" alt="" class="icons"></a>
                    <a href="#"><img src="../../../../assets/img/instagram.png" alt="" class="icons"></a>
                    <a href="#"><img src="../../../../assets/img/twitter.png" alt="" class="icons"></a>
                </div>
            </div>
        </div>

        <div class="footer__contact-us">
            <div class="footer__contact-us--box">
                <h3 class="footer__contact-us__h3">contact us</h3>
                <img src="../../../../assets/img/faza.png" alt="" class="footer__contact-us--faza">
                <div class="footer__contact-us--email">Contact@amena.com</div>
                <div class="footer__contact-us--phone">+21641156289</div>
            </div>
        </div>

        <div class="copyright-container">
            © 2020 Amena. All rights reserved | designed and developed by Nabil Mersni
        </div>

    </div>
</footer>
